@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.landing {
  height: 100vh;
  width: auto;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  h1 {
    color: #171616;
    font-size: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
  }
}